{% include "navbar.html" %}
<title>Register Page</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!-- stil berish -->
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #F9F0DD;
        padding: 20px;
        
    }

    h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    form {
        max-width: 500px;
      
        margin: 0 auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    input[type="text"],
    input[type="password"],
    input[type="email"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .btn-primary {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #007bff;
        color: #fff;
        cursor: pointer;
    }

    .btn-primary:hover {
        background-color: #0056b3;
    }
</style>
<h2>Register Page</h2>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Register Page</button>
    <p class="text-center">Do you have an account?<a href="{% url 'users:login_page' %}" class="register-link">Sign up</a></p>
</form>
